.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 10rem 18rem;
    position: fixed;
}

.paragraph {
    width: 60vw;
    text-align: justify;
    margin: 0;
}

.contact-links {
    font-family: 'Nunito', sans-serif;  
    font-size: 16px;
    margin-right: 2rem;
}

.details {
    margin: 0
}


/* BACKGROUND */
.bg5 {
    top: 0;
    right: 13rem;
    position: fixed;
}
.bg6 {
    bottom: 0;
    left: 0;
    position: fixed;
}

@media only screen and (max-width: 600px) {
.contact-container {
margin: 6rem 2.5rem;
}
.paragraph {
    width: 80vw;
padding: 0;
}
}